<h1>pagina registro</h1>
<div>
    <form method="post" action="/api/sessions/signup">
        <input type="text" placeholder="first Name" name="firstName"/>
        <br/>
        <input type="text" placeholder="Last Name" name="lastName"/>
        <br/>
        <input type="text" placeholder="age" name="age"/>
        <br/>
        <input type="text" placeholder="email" name="email"/>
        <br/>
        <input type="password" placeholder="password" name="password"/>
        <br/>
        <button type="submit">Registrarse</button>
    </form>
</div>

<a href="/api/sessions/github">
    registrarse con github
</a>